.main-div {
    margin-top: 50px;

    margin-left: 100px;
    margin-right: 100px;

    height: 1000px;

    border-width: 1px;
    border-style: solid;
    border-color: #D1D5DB;

    padding: 20px;
    padding-top: 5px;

    background-color: #FFFFFF;
    color: #1F2937;
}

.intro {
    border-width: 1px;
    border-style: solid;
    border-color: #D1D5DB;

    background-color: #F8FAFC;
}

.introTh .introTd {
    border-width: 1px;
    border-style: solid;
    border-color: #D1D5DB;
}

.intro {
    margin-left: auto;
    margin-right: 0;
    padding: 0;
}

body {
    background-color: #F1F5F9;
    color: #1F2937;
}